<% content_for :title do %>API Checker<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Ultimate" data-text="API Checker" data-moreinfo=""></div>
    </li>      
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="convergenceA" data-view="Number" data-title="Team A" style="background-color:#093145"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="convergenceATotal" data-view="Number" data-title="Team A Total" style="background-color:#093145"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="convergenceB" data-view="Number" data-title="Team B" style="background-color:#093145"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="convergenceBTotal" data-view="Number" data-title="Team B Total" style="background-color:#093145"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="convergenceC" data-view="Number" data-title="Team C" style="background-color:#093145"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="convergenceCTotal" data-view="Number" data-title="Team C Total" style="background-color:#093145"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="convergenceD" data-view="Number" data-title="Team D" style="background-color:#093145"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="convergenceDTotal" data-view="Number" data-title="Team D Total" style="background-color:#093145"></div>
    </li>
    
  </ul>
  
</div>
