<% content_for :title do %>API Checker<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Ultimate" data-text="API Checker" data-moreinfo=""></div>
    </li>      
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="convergenceA" data-view="Graph" data-title="Team A" style="background-color:#093145"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="convergenceB" data-view="Graph" data-title="Team B" style="background-color:#800000"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="convergenceC" data-view="Graph" data-title="Team C" style="background-color:#6900D1"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="convergenceD" data-view="Graph" data-title="Team D" style="background-color:#00572B"></div>
    </li>
  </ul>
  
</div>
